# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
myvenv/
venv/
env/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Memory
virtual_memory/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store